<header>
    <div class="header-container">
        <div class="brand">
            <a href="/" aria-label="Home" class="brand-link">
                <img src="/assets/images/logo.png" alt="Kyungmin Kwon Logo" class="logo">
            </a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="/aboutme/">About me</a></li>
                <li class="dropdown">
                    <a href="/study/" class="dropbtn">Self-Study</a>
                    <div class="dropdown-content">
                        <a href="/study/">Quantum Optics</a>
                        <a href="/quantum-information/">Quantum Information</a>
                        <a href="/nonlinear-optics/">Nonlinear Optics</a>
                        <a href="/machine-learning/">Machine Learning</a>
                        <a href="/study-fpga/">FPGA</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="/projects/" class="dropbtn">Research</a>
                    <div class="dropdown-content">
                        <a href="/research-machine-learning/">Machine Learning</a>
                        <a href="/research-fpga/">FPGA</a>
                        <a href="/research-experiment/">Experiment</a>
                        <a href="/lab-meeting/">Labmeeting</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="/publications/" class="dropbtn">Publication</a>
                    <div class="dropdown-content">
                        <a href="/publications/">Journals</a>
                        <a href="/conferences/">Conferences</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="social-icons">
            <button id="darkModeToggle" class="dark-mode-toggle">🌙</button>
        </div>
    </div>
</header>