<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/aos.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <style>
        html { scroll-behavior: smooth; }
    </style>
    <link rel="icon" type="image/png" href="/assets/images/cat-logo-round.png">
    <link rel="shortcut icon" type="image/png" href="/assets/images/cat-logo-round.png">
</head>