<header>
    <div class="header-container">
        <div class="brand">
            <a href="/" aria-label="Home" class="brand-link">
                <img src="/assets/images/logo.png" alt="Kyungmin Kwon Logo" class="logo">
            </a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="/aboutme/">About me</a></li>
                <li><a href="/study/">Self-Study</a></li>
                <li><a href="/projects/">Research & Project</a></li>
                <li><a href="/publications/">Publication</a></li>
            </ul>
            
        </nav>
        <div class="social-icons">
            <button id="darkModeToggle" class="dark-mode-toggle">🌙</button>
        </div>
    </div>
</header>